# Frontend
build/
dist/
node_modules/

# Python
__pycache__/
*.py[cod]
.python-version

# mypy
.mypy_cache/

# IDE
.vscode/
.idea/

# Tests / Coverage reports
.coverage
.coveragerc
.pytest_cache/
htmlcov/

# dotenv
*.env

# Celery
celerybeat-schedule

# Cypress
e2e/cypress/videos
e2e/cypress/screenshots

# Temporary
tmp/

# SSL
certbot/
fullchain.pem
privkey.pem
