# Frontend
build/
dist/
node_modules/

# Python
*.pyc
.python-version

# IDE
.vscode/

# Tests / Coverage reports
.coverage
.coveragerc

# Env
*.env

# Celery
celerybeat-schedule

# Cypress
e2e/cypress/videos
e2e/cypress/screenshots

# Temporary
tmp/

# SSL
certbot/
fullchain.pem
privkey.pem
