# Please keep names sorted alphabetically
# prod
alembic
asyncpg
babel
celery
fastapi
fastapi-jwt-auth
gunicorn
jinja2
orjson
passlib[bcrypt]
psycopg2-binary
pydantic[email]
pyhumps
python-jose[cryptography]
python-multipart
redis
requests
sentry-sdk
sqlmodel
starlette
uvicorn[standard]
# dev
anyio
bandit
black
flake8
flake8-docstrings
flake8-print
freezegun
httpx
isort
mypy
pip-tools
pylint
pytest
pytest-cov
types-freezegun
types-orjson
types-redis
