# Please keep names sorted alphabetically
# prod
alembic
asyncpg
babel
celery
fastapi
fastapi-paseto-auth
gunicorn
jinja2
kombu
orjson
passlib[argon2]
psycopg2-binary
pydantic[email]
pyhumps
python-dateutil
python-multipart
redis
requests
sentry-sdk
sqlalchemy
sqlmodel
starlette
uvicorn[standard]
# dev
anyio
bandit
black
flake8
flake8-docstrings
flake8-print
freezegun
httpx
isort
mypy
pip-tools
pylint
pytest
pytest-cov
pyupgrade
types-freezegun
types-orjson
types-python-dateutil
types-redis
