# Please keep names sorted alphabetically
# prod
alembic
asyncpg
babel
celery
fastapi
fastapi-jwt-auth
jinja2
orjson
passlib[bcrypt]
psycopg2-binary
pydantic[email]
python-jose[cryptography]
redis
requests
sqlmodel
uvicorn[standard]
# dev
aiosqlite
bandit
black
flake8
freezegun
isort
mypy
pip-tools
pylint
pytest
pytest-asyncio
pytest-cov
